#g-copyright {
    background: $copyright-background;
    color: $copyright-text-color;

    .g-branding {
        @include breakpoint(mobile-only) {
            text-align: center;
        }
    }
}

@media print {
    #g-copyright {
        background: #fff !important;
        color: #000 !important;
    }
}
